<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, Tienes una coincidencia en FZone</h1>
    <p>
      Ustedes dos, se gustan: <br>
    </p>
    <p>
      <%= @user1.name %> y <%= @user2.name %>
    </p>
    <p>Estamos felices de esta coincidencia, que tengan un buen día!</p>
  </body>
</html>