<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a, <%= @user.name %></h1>
    <p>
      Has sido registrado exitosamente en Fzone<br>
    </p>
    <p>
      Para iniciar sesión puedes hacer click en el siguiente link: <%= link_to "Fzone", @url %>.
    </p>
    <p>Gracias por unirte y que tengas un buen día!</p>
  </body>
</html>