<div class="col-md-4 col-md-offset-4">
	<div class="panel panel-default friend-card">
	  <div class="panel-body">
	  	    <%= image_tag "person.png" %>
	  </div>
	  <div class="panel-footer">
	  	<h4>No hay mas amig@s cerca....</h4>
	  </div>
	</div>
</div>

